{% extends 'navigationbar.html' %}
{% load static %}
{% block body %}

<div class="container" style="margin-top:50px">
	<h1 class="text-center">Contact</h1>
	<br><br>

<div class="row mt-5 text-center">
	<div class="col-lg-3 col-sm-6 mydivstyle">
		<h4>Contact</h4>
		<p class="mt-3 font-weight-bold"><a class="text-danger" href="tel:+91 9191919191"> +91 9191919191 </a></p>
	</div>

	<div class="col-lg-3 col-sm-6 mydivstyle">
		<h4>Send Email</h4>
		<p class="mt-3 font-weight-bold"><a class="text-danger" href="mailto:r@gmail.com">r@gmail.com </a></p>
	</div>

	<div class="col-lg-3 col-sm-6 mydivstyle">
		<h4>Office Address</h4>
		<p class="mt-3 font-weight-bold"><a class="text-danger" href="http://maps.google.com/maps?q=Laxmi+Nagar">Laxmi Nagar </a></p>
	</div>

	<div class="col-lg-3 col-sm-6 mydivstyle">
		<h4>Office Hours</h4>
		<p class="mt-3 font-weight-bold"><a class="text-danger" href="http://maps.google.com/maps?q=Laxmi+Nagar">9:00 AM to 7:00 PM </a></p>
	</div>
</div> 

		
</div>
{% endblock %}