{% extends 'navigationbar.html' %}
{% load static %}

{% block body %}

	{% ifequal error "no" %}
	<script>
		alert("Logged In Successfully");
		window.location= "{% url 'home' %}";
		
	</script>
	{% endifequal %} 

	{% ifequal error "yes" %}
	<script>
		alert("Invalid Logged In Credential, Try Again");
	</script>
	{% endifequal %}

	<div class="container" style="margin-top: 50px;">
		<h1 class="text-center">Admin Login</h1>
		<br><br>
		<form method="POST">
			{% csrf_token %}
			<label>Username</label>
			<input type="text" name="uname" class="form-control">

			<label>Password</label>
			<input type="password" name="pwd" class="form-control">
			<br>
			<input type="submit" value="login" class="form-control btn btn-primary">
		</form>
	</div>
{% endblock %}

